<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Comments</title>
</head>

<body>

    <h1>MAKE A NEW COMMENT</h1>

    <form action="/comments" method="post">
        <label for="username">Enter a username</label>
        <input type="text" placeholder="username" id="username" name="username">
        <br>
        <br>
        <label for="comment">Comment a Text</label>
        <br>
        <textarea name="comment" cols="40" rows="5" id="comment" name="comment">Add a comment..</textarea>
        <br>
        <button type="submit">Submit</button>
    </form>

    <a href="/comments">Back to Comments</a>

</body>

</html>